﻿<div class="tong">
    <h1 class="tlql">QUẢN LÝ SẢN PHẨM</h1>
    <div class="full">
        <div class="content">
            <div class="content1">
                <div class="mb-3">
                    <label class="form-label">TÊN SẢN PHẨM</label>
                    <input type="text" class="form-control" id="tensp">
                </div>
                <div class="mb-3">
                    <label class="form-label">MÃ LOẠI</label>
                    <input type="text" class="form-control" id="maloai">
                </div>
                <div class="mb-3">
                    <label class="form-label">THƯƠNG HIỆU</label>
                    <input type="text" class="form-control" id="thuonghieu">
                </div>
            </div>
            <div class="content2">
                <div class="mb-3">
                    <label class="form-label">THỜI GIAN BẢO HÀNH</label>
                    <input type="text" class="form-control" id="tgbh">
                </div>
                <div class="mb-3">
                    <label class="form-label">GIÁ SẢN PHẨM</label>
                    <input type="text" class="form-control" id="gia">
                </div>
                <div class="mb-3">
                    <label class="form-label">IMG LINK</label>
                    <input type="text" class="form-control" id="img">
                </div>
            </div>
            <div class="content4">
                <div class="mb-3">
                    <label class="form-label">MÔ TẢ SẢN PHẨM</label>
                    <textarea class="mota" id="mota"></textarea>
                </div>
            </div>
        </div>
        <div class="content3">
            <button type="submit" class="btn btn-primary" id="seach">SEARCH</button>
            <button type="submit" class="btn btn-primary" id="btadd">ADD</button>
        </div>
        <div class="tb">
            <table class="table">
                <thead class="table-dark">
                <th>MÃ SP</th>
                <th>TÊN SẢN PHẨM</th>
                <th>MÃ LOẠI</th>
                <th>THƯƠNG HIỆU</th>
                <th>BẢO HÀNH</th>
                <th>GIÁ</th>
                <th hidden>MÔ TẢ</th>
                <th>CHỨC NĂNG</th>

                </thead>
                <tbody>
                    @foreach (var a in ViewBag.pr)
                    {
                        <tr>
                            <td id="masp_@a.Masp.Trim()">@a.Masp</td>
                            <td id="tensp_@a.Masp.Trim()">@a.Tensp</td>
                            <td>@a.Loai</td>
                            <td>@a.Thuonghieu</td>
                            <td>@a.TGBH</td>
                            <td>@String.Format("{0:N0}", a.Gia)₫</td>
                            <td class="img" hidden>@a.Hinh</td>
                            <td class="mt" hidden>
                                @a.Mota
                            </td>
                            <td>
                                <button class="btn btn-danger" data-toggle="modal" data-target="#exampleModalCenter" onclick="fndel('@a.Masp')" >Xóa</button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Thông báo</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="testall"><span id="ma" hidden></span>Bạn muốn xóa sản phẩm <span id="ten" class="tensp"></span> này không ?</div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="yes">Yes</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/myscript/Products.js"></script>